body{
	margin: 0;
}

iframe{
	border-style: none;
	width: 200px;
	height: 80px;
	vertical-align: top;
	overflow: hidden;
}

.wrap{
	width: 200px;
}

iframe + .wrap{
	margin-top: -12px;
}

.header{
	position: relative;
	background: #779bc8;
	color: #ffffff;
	font-size: 12px;
	height: 30px;
}

.header p{
	line-height: 30px;
}

.header a#reflesh{
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 24px;
	height: 24px;
	border: 1px solid #779bc8;
	border-radius: 12px;
	background: #ffffff url('reflesh.png') 4px 4px no-repeat;
}

.header a#reflesh:hover{
	background-color: #85c7df !important;
}

ul{
	display: block;
	margin: -3px 0 0;
	padding: 0;
	overflow: hidden;
}

ul.marked{
	background: #dbe3e7;
}

ul.marked + ul{
	display: none;
}


li{
	position: relative;
	display: block;
	height: 60px;
	margin-top: 2px;
	cursor: pointer;
	border-left: 4px solid #779bc8;
	border-top: 1px solid #779bc8;
}

li span:first-child{
	display: block;
	padding-left: 2px;
	color: #333;
	width: 600px;
	font: bold 14px sans-serif;
}

li span:nth-child(2){
	display: block;
	margin-left: 12px;
	font-size: 12px;
	width: 600px;
	color: #666;
}

li.expired span:first-child{
	color: #ed7576;
}

li a{
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
	width: 24px;
	height: 24px;
	border: 1px solid #ccdbe0;
	border-radius: 12px;
	color: #B6BCC0;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
	text-decoration: none;
}

li a:hover{
	background: #eff3f5;
}

li.button{
	position: relative;
	border: none;
	height: 20px;
	padding: 4px;
	background: #b0d8e7;
}

li.button:hover{
	background: #85c7df;
}

li.button span:first-child{
	color: #666;
}

li.button span:nth-child(2){
	display: block;
	position: absolute;
	top: 1px;
	right: 8px;
	font: bold 16px sans-serif;
	color: #779bc8;
}
